body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 100%;
}

button {
  background-color: #3ca4f3;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

#converted {
  border: 2px dotted #3ca4f3;
  border-radius: 25px;
  box-sizing: border-box;
  height: 100px;
  margin: 8px 0;
  overflow: auto;
  padding: 5px;
  vertical-align: top;
  white-space: pre-line;
  width: 100%;
  word-wrap: break-word;
}

.footer {
  display: block;
  font-size: 12px;
  margin: 0 auto;

  text-align: center;
}

a.footer {
  color: #000000;
  display: inline;
  text-decoration: underline;
}

h1 {
  font-weight: 900;
}

h2 {
  color: #3ca4f3;
  font-weight: 700;
  text-decoration: underline;
}

img {
  border-radius: 25px;
  width: 300px;
}

input[type="textarea"] {
  border: 3px solid #3ca4f3;
  border-radius: 25px;
  box-sizing: border-box;
  height: 100px;
  margin: 8px 0;
  overflow: auto;
  overflow-wrap: normal;
  overflow-x: scroll;
  padding: 5px;
  vertical-align: top;
  white-space: pre-line;
  width: 100%;
}
